@media only screen and (min-width: 1280px) {
  .logo {
    margin-top: 3px;
    margin-left: 189px;
    width: 334px;
    font-size: 19px;
  }
}

@media only screen and (min-width: 1280px) {
  p {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    margin-left: 171px;
    margin-top: -3px;
  }
}

@media only screen and (min-width: 1280px) {
  .login {
    font-size: 18px;
    width: 287px;
    margin-left: 462px;
    margin-top: -48px;
  }
}

@media only screen and (min-width: 1280px) {
  .already {
    font-size: 18px;
    width: 287px;
    margin-left: 177px;
    margin-top: 6px;
  }
}

@media only screen and (min-width: 1280px) {
  .btn {
    margin-left: 166px;
    margin-top: 10px;
    background: #27345E;
    border-radius: 0px;
    font-family: Poppins, sans-serif;
    font-size: 19px;
    width: 466.4px;
  }
}

@media only screen and (min-width: 1280px) {
  .textarea {
    margin-left: 166px;
    margin-top: 11px;
    border-style: groove;
    font-family: Poppins, sans-serif;
    font-size: 21px;
    border-radius: 20px;
    padding-left: 22px;
    width: 454.4px;
    height: 40.5px;
  }
}

@media only screen and (min-width: 1280px) {
  .rocket {
    width: 232px;
    margin-top: -182px;
    margin-left: 6px;
  }
}

@media only screen and (max-width: 1536px) {
  .logo {
    margin-top: 55px;
  }
}

@media only screen and (max-width: 1536px) {
  .rocket {
    width: 262px;
  }
}

.name {
  margin-left: 166px;
  margin-top: 18px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  border-radius: 0px;
  padding-left: 13px;
  width: 466.4px;
  height: 35.5px;
  background: #F4F8E7;
  border: 2.4px solid rgb(39,52,94);
}

