{% load static %}
<!DOCTYPE html>
<html lang="en" style="background: #F4F8E7;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Poppins.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>

<body style="background: #F4F8E7;">
    <div class="container">
        <div class="row">
            <div class="col" style="margin-top: 171px;"><img class="jainlogo" src="{% static 'assets/img/jws-t.png' %}"></div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="signin-txt" style="font-size: 35px;">Sign in</h1>
                <p class="para1">to access the Jain workspace</p>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <form action="login" method="POST">
                    {% csrf_token %}

			        <input class="form-control name-input" type="text" placeholder="Username" name=username>
			        <input class="form-control password-input" type="password" placeholder="Password" name=password>
			        <button class="btn btn-primary loginbtn" type="submit" style="border-color: #27345E;">Login</button>
		        </form>
                <p style="margin-top: 15px;margin-left: 136px;font-size: 17px;">Dont have an account? <a href="{% url 'register' %}">Sign up</a></p>
        
            </div>
            <div class="col"><img class="logingirl" src="{% static 'assets/img/loginpage_girl.png' %}"></div>
        </div>
    </div>

    <div>
        {% for message in messages %}
        <h6 style="color: red; margin-left: 175px;">{{message}}</h6>
        {% endfor %}
    </div>
    
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>