<!DOCTYPE html>
<html lang="en" style="background: #F4F8E7;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Workspace - login</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Poppins.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>

<body style="background: #F4F8E7;">
    <div class="container">
        <div class="row">
            <div class="col" style="margin-top: 171px;"><img class="jainlogo" src="assets/img/jws-t.png"></div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="signin-txt" style="font-size: 35px;">Sign in</h1>
                <p class="para1">to access the Jain workspace</p>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <form method="POST">
			<input class="form-control name-input" type="text" placeholder="Username" name=username>
			<input class="form-control password-input" type="text" placeholder="Password" name=password>
			<button class="btn btn-primary loginbtn" type="button" style="border-color: #27345E;">Login</button>
		</form>

                <p style="margin-top: 15px;margin-left: 136px;font-size: 17px;">Dont have an account? <a href="#">Sign up</a></p>
        
            </div>
            <div class="col"><img class="logingirl" src="assets/img/loginpage_girl.png"></div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>